.homepage {
    margin-left: 220px;
    padding-left: 40px;
    padding-right: 20px;
    height: 600px;
}

.sidebar {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  overflow: hidden;
}
