.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:30px;
    padding-bottom: 40px;
}
.navbar > h1 {
    font-weight: 600;
}

.emailDropdownButton {
    display: flex;
    align-items: center;
    margin-right: 20px;
    background-color: #04060C;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 50px;
    transition: all 0.2s;
}
.emailDropdownButton:hover {
    cursor: pointer;
    background-color: #282828;
}

.emailDropdownButton > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.emailDropdownButton > p {
    font-size: 0.8rem;
}